# Бинарные файлы, которые не нужно отслеживать
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Каталоги и файлы Go-модулей
/vendor/
/*.mod
/*.sum

# Каталоги, создаваемые инструментами
**/coverage.out
**/cover.out
**/test_results/

# Артефакты Go
*.a

# Конфигурационные файлы IDE
.idea/
*.iml

# Логи и системные файлы
*.log
*.swp
.DS_Store
Thumbs.db

# Для кеша зависимостей и временных файлов
/tmp/
*.tmp
*.temp
.cache/
